<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">>
<head>
    <meta charset="utf-8" >
    <title>Log in with your account</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>

<div class="image-container">
    <img th:src="@{/images/Logo.png}"/>
    <h2>Добро пожаловать <span sec:authentication="name"></span></h2>
</div>
<div class="exchange rates">
    <h3>Курсы валют:</h3>
    <table>
        <thead>
        <th>Currency</th>
        <th>Buy Value</th>
        <th>Sell Value</th>
        </thead>
        <th:forEach items="${CurrencyValue}" var="currency">
            <tr>
                <td>
            <tr th:each="currency: ${CurrencyValue}">
                <td th:text="${currency.name}" />
                <td th:text="${currency.buyValue}" />
                <td th:text="${currency.sellValue}" />
            </tr>
                 </td>
            </tr>
        </th:forEach>
    </table>
</div>
<div class="home-container">
        <h3>Разделы личного кабинета</h3>
        <h4><a href="/lksettings">Настройки</a></h4>
        <h4><a href="/manage">Счета</a></h4>
        <h4><a href="/extrans">Переводы</a></h4>
        <h4><a href="/logout">Выйти</a></h4>
</div>
</body>
</html>