<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Настройки аккаунта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="reg-form">
    <form th:action="@{/lksettings}" method="POST" modelAttribute="newAccountOptions" >
        <h2>Изменение данных пользователя</h2>
        <h3>Введите данные, которые необходимо изменить (атрибуты с пустыми полями останутся без изменений!)</h3>
        <div class="input-form">
            <input type="text" th:field="*{newAccountOptions.login}" placeholder="Login"
                   autofocus="true"/>
            <span  class="error" th:if="${loginError}"th:text="${loginError}"> Invalid Username</span>
            <span  class="error" th:if="${loginErrorValidate}"th:text="${loginErrorValidate}">Invalid Username2</span>

        </div>
        <div class="input-form">
            <input type="password" th:field="*{newAccountOptions.password}" placeholder="Password">
            <span  class="error" th:if="${passwordErrorValidate}"th:text="${passwordErrorValidate}">Invalid Username3</span>
        </div>
        <div>
            <input type="password" th:field="*{newAccountOptions.passwordConfirm}"
                   placeholder="Confirm your password">
            <span class="error" th:if="${passwordError}" th:text="${passwordError}">Invalid Password</span>
        </div>
        <div class="input-form">
            <input type="text" th:field="*{newAccountOptions.name}"  placeholder="Name">
        </div>
        <div class="input-form">
            <input type="email" th:field="*{newAccountOptions.email}"  placeholder="Email">
        </div>
        <div class="input-form">
            <input type="number" th:field="*{newAccountOptions.phonenumber}"  placeholder="Phone number">
        </div>



        <button type="submit">Принять изменения</button>
    </form>

    <a href="/lk">Назад</a>
</div>
</body>
</html>