<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">>
<head>
    <meta charset="utf-8" >
    <title>Log in with your account</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>

<div class="image-container">
    <img th:src="@{/images/Logo.png}"/>
</div>

<div class="container">
    <form method="POST" action="/login">
        <h2>Добро пожаловать в личный кабинет банка TinkOn!</h2>
        <p>Для продолжения работы введите свои учетные данные или зарегистрируйтесь!</p>
        <div>
            <input name="username" type="text" placeholder="Username" autofocus="true"/>
            <input name="password" type="password" placeholder="Password"/>
            <button type="submit">Войти</button>
            <h4><a href="/registration">Зарегистрироваться</a></h4>
        </div>
    </form>
</div>

</body>
</html>