<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">>
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>

<body>
<div class="row">
    <div class="column1">
        <h3>Карты</h3>
        <p>Some text..</p>
        <button name="firstbt" type="button" onclick="location.href='/lksettings.html'">+</button>
    </div>
    <div class="column2">
        <h3>Вклады</h3>
        <p>Some text..</p>
        <button name="secondtbt" type="button" onclick="location.href='/lksettings.html'">+</button>
    </div>
    <div class="column3">
        <h3>Кредиты</h3>
        <p>Some text..</p>
        <button name="thirdbt" type="button" onclick="location.href='/lksettings.html'">+</button>
    </div>
    <button type="">Зарегистрироваться</button>
</div>
</body>


</html>