<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="reg-form">
    <form th:action="@{/registration}" method="POST" modelAttribute="registrationFormUserAccount" >
        <h2>Регистрация</h2>
        <div class="input-form">
            <input type="text" th:field="*{registrationFormUserAccount.login}" placeholder="Login"
                   autofocus="true"/>
            <span  class="error" th:if="${loginError}"th:text="${loginError}"> Invalid Username</span>
            <span  class="error" th:if="${loginErrorValidate}"th:text="${loginErrorValidate}">Invalid Username2</span>

        </div>
        <div class="input-form">
            <input type="password" th:field="*{registrationFormUserAccount.password}" placeholder="Password">
            <span  class="error" th:if="${passwordErrorValidate}"th:text="${passwordErrorValidate}">Invalid Username3</span>
        </div>
        <div>
            <input type="password" th:field="*{registrationFormUserAccount.passwordConfirm}"
                   placeholder="Confirm your password">
            <span class="error" th:if="${passwordError}" th:text="${passwordError}">Invalid Password</span>
        </div>
        <div class="input-form">
            <input type="text" th:field="*{registrationFormUserAccount.name}"  placeholder="Name">
        </div>
        <div class="input-form">
            <input type="email" th:field="*{registrationFormUserAccount.email}"  placeholder="Email">
        </div>
        <div class="input-form">
            <input type="number" th:field="*{registrationFormUserAccount.phonenumber}"  placeholder="Phone number">
        </div>



        <button type="submit">Зарегистрироваться</button>
    </form>

        <a href="/login">Главная</a>
</div>
</body>
</html>